.App {
  text-align: center;
}
.Board{
  max-width: 1200px;
  max-height: 600px;
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;

    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;

}
.Figure{
  max-width: 75px;
  max-height: 50%;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
}

.container {
  position:relative;
}
.bR0{
    position: absolute;
    left: 0;
    top: 0;
}
.bN0{
    position: absolute;
    left: 75px;
    top: 0;
}
.bB0{
    position:absolute;
    left: 150px;
    top:0;
}
.bQ {
  position: absolute;
  left: 225px;
  top: 0;
}
.bK {
  position: absolute;
  left: 300px;
  top: 0;
}
.bB1{
    position:absolute;
    left: 375px;
    top:0;
}
.bN1{
    position: absolute;
    left: 450px;
    top: 0;
}
.bR1{
    position: absolute;
    left: 525px;
    top: 0;
}
.bP0 {
  position: absolute;
  left: 0;
  top:75px;
}
.bP1 {
  position: absolute;
  left: 75px;
  top:75px;
}
.bP2 {
  position: absolute;
  left: 150px;
  top:75px;
}
.bP3 {
  position: absolute;
  left: 225px;
  top:75px;
}
.bP4 {
  position: absolute;
  left: 300px;
  top:75px;
}
.bP5 {
  position: absolute;
  left: 375px;
  top:75px;
}
.bP6 {
  position: absolute;
  left: 450px;
  top:75px;
}
.bP7 {
  position: absolute;
  left: 525px;
  top:75px;
}
.wP0 {
   position: absolute;
   left: 0;
   top:450px;
 }
.wP1 {
  position: absolute;
  left: 75px;
  top:450px;
}
.wP2 {
  position: absolute;
  left: 150px;
  top:450px;
}
.wP3 {
  position: absolute;
  left: 225px;
  top:450px;
}
.wP4 {
  position: absolute;
  left: 300px;
  top:450px;
}
.wP5 {
  position: absolute;
  left: 375px;
  top:450px;
}
.wP6 {
  position: absolute;
  left: 450px;
  top:450px;
}
.wP7 {
  position: absolute;
  left: 525px;
  top:450px;
}
.wR0{
    position: absolute;
    left: 0;
    top: 525px;
}
.wN0{
    position: absolute;
    left: 75px;
    top: 525px;
}
.wB0{
  position:absolute;
  left: 150px;
  top:525px;
}
.wQ {
    position: absolute;
    left: 225px;
    top: 525px;
}
.wK{
    position:absolute;
    left: 300px;
    top: 525px;
}
.wB1{
  position: absolute;
  left: 375px;
  top: 525px;
}
.wN1{
    position: absolute;
    left: 450px;
    top: 525px;
}
.wR1{
    position: absolute;
    left: 525px;
    top: 525px;
}
